.catalog {

    &__container {
        max-width: 1236px;
        padding: 20px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 196px);
        justify-content: center;
        gap: 4px;
    }

    &__btn-add {
        color: #fff;
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 8px;
        margin-left: auto;
        font-weight: 600;
        transition: color .25s ease-in-out;
        padding: 16px 0;

        &:hover {
            color: #cec1c1;
        }
    }
}

@media (max-width: 1024px) {
    .catalog {
        &__container {
            padding: 0 14px;
        }

    }
}

@media (max-width: 560px) {
    .catalog {

        &__container {
            padding: 0 11px;
            grid-template-columns: repeat(auto-fill, 148px);
            gap: 2px;
        }

        &__btn-add {
            padding: 12px 0;
            font-size: 14px;
            gap: 4px;
        }
    }
}